apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodered
  namespace: edge-tier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodered
  template:
    metadata:
      labels:
        app: nodered
    spec:
      containers:
      - name: nodered
        image: nodered/node-red:latest
        ports:
        - containerPort: 1880
---
apiVersion: v1
kind: Service
metadata:
  name: nodered-svc
  namespace: edge-tier
spec:
  selector:
    app: nodered
  ports:
    - port: 1880
  type: LoadBalancer